.container {
  display: grid;
  grid-template-columns:
    minmax(35vh, 35vh) minmax(50vh, auto)
    minmax(35vh, 35vh);
  grid-template-rows: 10vh minmax(70vh, auto) 10vh 10vh;

  grid-template-areas:
    "navbar navbar navbar navbar"
    "side box-inputs box-inputs side-right"
    "side box-buttons box-buttons side-right"
    "footer footer footer footer";

  background: linear-gradient(
    to right,
    var(--color-101010),
    var(--color-1E2122)
  );

  .nav {
    grid-area: navbar;
    background-color: var(--color-101010);
    position: fixed;
    width: 100vw;
    z-index: 99;
  }

  .box-inputs {
    grid-area: box-inputs;
    background-color: var(--color-1E2122);
    padding: 20px;
    margin: 20px 0px 10px 0px;
    border-radius: 23px;
  }

  .box-buttons {
    grid-area: box-buttons;
    position: relative;
    background-color: var(--color-1E2122);
    padding: 20px;
    border-radius: 23px;
  }
}
