<div class="container">
    <app-navbar class="nav"></app-navbar>
    <div class="post-title">
      <label class="title">Lorem ipsum dolor sit amet consectetur adipisicing elit.</label>
    </div>
    <div class="post-principal-photo box-img-principal">
      <img src="assets/post-img.jpg" />
    </div>
    <div class="post-menu-buttons-social">
      <div class="buttons-social--like">
  
      </div>
      <div class="buttons-social--share">
        
      </div>
      <div class="buttons-social--comment">
        
      </div>
    </div>
    <div class="post-preview-info">
      <div class="preview-info">
        <div class="preview-icon">
  
        </div>
      </div>
      <div class="preview-info">
        <div class="preview-icon">
          
        </div>
      </div>
      <div class="preview-info">
        <div class="preview-icon">
          
        </div>
      </div>
    </div>
    <div class="post-menu-buttons">
      <div class="squad-button">
        <div class="help-us">
  
        </div>
      </div>
      <div class="squad-button">
        <div class="info">
  
        </div>
      </div>
      <div class="squad-button">
        <div class="faq">
  
        </div>
      </div>
    </div>
    <div class="post-description">
      <label class="description">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat nulla possimus exercitationem ipsam laboriosam nobis earum et sequi at totam velit, pariatur eius saepe reprehenderit voluptas, consequatur aspernatur temporibus. Odio?
      </label>
    </div>
  </div>
  