<nav class="nav">
  <div class="nav-icon__home" routerLink="/">
    <svg class="icon__home">
      <use xlink:href="assets/sprite.svg#home" />
    </svg>
    <app-tooltip class="tooltip--disable" [label]="'Home'" ></app-tooltip>
  </div>

  <div class="nav-search"></div>

  <div class="buttons">
    <div class="nav-icon__projects">
      <svg class="icon__projects">
        <use xlink:href="assets/sprite.svg#projects" />
      </svg>
      <app-tooltip class="tooltip--disable" [label]="'Ideas'" ></app-tooltip>
    </div>

    <div class="nav-icon__contacts">
      <svg class="icon__contacts">
        <use xlink:href="assets/sprite.svg#contacts" />
      </svg>
      <app-tooltip class="tooltip--disable" [label]="'Contacts'" ></app-tooltip>
    </div>

    <div class="nav-icon__messages">
      <svg class="icon__messages">
        <use xlink:href="assets/sprite.svg#messages" />
      </svg>
      <app-tooltip class="tooltip--disable" [label]="'Messages'" ></app-tooltip>
    </div>

    <div class="nav-icon__notify">
      <svg class="icon__notify">
        <use xlink:href="assets/sprite.svg#notify" />
      </svg>
      <app-tooltip class="tooltip--disable" [label]="'Notify'" ></app-tooltip>
    </div>

    <div class="nav-icon__user" (click)="showTooltipMenuUser()">
      <svg class="icon__user">
        <use xlink:href="assets/sprite.svg#user" />
      </svg>
      <app-tooltip *ngIf="!showTooltip" class="tooltip--disable" [label]="'Menu user'" ></app-tooltip>
      <app-tooltip-menu-user *ngIf="showTooltip" ></app-tooltip-menu-user>
    </div>
  </div>
</nav>
