@import "../../shared/theme/grids/posts-list.scss";

.section-posts {
  display: flex;
  height: 100%;

  .box-posts {
    display: block;
    margin: 5% 10% 10% 10%;
    width: 100%;

    .card-post {
      display: grid;
      grid-template-columns: 10% auto;
      grid-template-rows: 20% 15% 50% 15%;
      grid-template-areas:
        "img-user title"
        "description description"
        "img-principal img-principal"
        "buttons buttons";
      background-color: var(--color-1F2324);
      border-left: 8px solid var(--color-46494a);
      border-bottom: 4px solid var(--color-46494a);
      border-top: 8px solid var(--color-ED145B);
      border-right: 4px solid var(--color-ED145B);
      border-bottom-width: 30%;

      border-radius: 22px;
      margin: 10px 0px 30px 0px;
      height: 500px;

      &__img-user {
        grid-area: img-user;
        position: relative;

        .img-user {
          height: 50px;
          width: 50px;
          left: 70%;
          top: 50%;
          position: absolute;
          transform: translate(-30%, -50%);
          border-radius: 100px;
        }
      }

      &__title {
        grid-area: title;
        color: var(--color-E4E4E4);
        font-size: 2.5rem;
        padding: 25px;
        text-align: center;
      }

      &__description {
        grid-area: description;
        color: var(--color-E4E4E4);
        font-size: 1rem;
        padding: 10px;
      }

      &__img-principal {
        grid-area: img-principal;
        position: relative;
        cursor: pointer;

        .img-principal {
          height: 100%;
          width: 100%;
          top: 50%;
          position: absolute;
          transform: translate(0%, -50%);
        }
      }

      &__buttons {
        grid-area: buttons;
      }
    }
  }
}
